.alertText {
    color: crimson;
    font-weight: bold;
    font-size: 16px;
}


.blueSpan {
    color: royalblue;
}

.userEditForm {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#modal-modal-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

* {
    text-transform: capitalize;
}

.btnBox {
    margin-top: 15px;
    display: flex;
}

.statusSelection {
    padding: 5px 0;
}

.statusSelection option {
    padding: 5px 0;
}

.productEditForm {
    display: flex;
    flex-direction: column;
}

.productEditForm select {
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
}