.navbar {
    width: 100%;
    height: 50px;
    background-color: #444;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #333;
    /* z-index: 99999; */
}

.navbarWrapper {
    height: 100%;
    background-color: pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}


.navbarRight {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #333;
    overflow: hidden;
    margin-left: 30px;
}

.navBarIcons {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    color: #555;

}

.navBarIcons span {
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, 50%);
    background-color: crimson;
    color: white;
    padding: 2px 3px;
    border-radius: 50%;
}

@media (max-width:500px) {
    .logo {
        font-size: 20px;
    }

    .avatar {
        width: 30px;
        width: 30px;
        margin-left: 0;
    }
        .navBarIcons {
            margin-right: 5px;
        }
}