.sidebar {
    min-width: 150px;
    flex: 1;
    height: 100vh;
    height: calc(100vh - 50px);
    padding: 10px;
    position: sticky;
    top: 50px;
    left: 0;
    background-color: #bbb6b6;
    overflow-y: scroll;
}

/* .sidebarWrapper {
} */

.sidebarMenu {
    margin-top: 20px;
}

.sidebarMenu:first-child {
    margin-top: 10px;
}

.sidebarTitle {
    font-size: 12px;
    color: #828282;
}

.sidebarList {
    list-style: none;
}

.sidebarListItem a {
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
}

.sidebarListItem a {
    display: flex;
    align-items: center;
    padding: 5px;
}

.sidebarListItem a:hover,
.sidebarListItem a.active {
    background-color: gray;
    color: white;

}

.sidebarIcon {
    margin-right: 5px;
}

.sidebarIcon+span {
    font-size: 14px;
}

/* responsive */
@media (max-width : 900px) {
    /* .sidebar {
       
} */
}