.sidebar {
    height: calc(100vh - 50px);
    width: 200px;
    padding: 10px;
    position: sticky;
    top: 50px;
    left: 0px;
    background-color: #bbb6b6;
    overflow-y: scroll;
    transition: 0.5s;
    z-index: 999;
}

/* .sidebarWrapper {
} */

.sidebarMenu {
    margin-top: 20px;

}

.sidebarMenu:first-child {
    margin-top: 10px;
}

.sidebarTitle {
    font-size: 12px;
    color: #828282;
}

.sidebarList {
    list-style: none;
}


.sidebarListItem a {
    margin: 5px 0 !important;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.sidebarListItem a:hover,
.sidebarListItem a.active {
    background-color: gray;
    color: white;
}


.sidebarIcon+span {
    font-size: 14px;
}

.iconBox {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}


.closeMenu {
    margin-right: -150px;
    transform: translateX(-150px);
}

.closeMenuIconBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}