.products {
    flex: 4;
    padding: 10px;
    overflow-x: scroll;
    position: relative;
}
.loader{
    position: absolute;
    top: 0;
    left: 0;
}

.productAvatar {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    /* border: 1px solid #333; */
    border-radius: 50%;
}

.usersAction {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.productTitle {
    overflow-x: auto;
}
 .categotySelector{
    width: 30%;
    min-width: 200px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    font-size: 18px;
 }
 